<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} BAse {% endblock title%}</title>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">

  <style>
    .nv {
      background-color: #89c135;
    }

    nav ul li :hover {
      background-color: rgb(39, 39, 102);
      border-radius: 40%;
    }

    .container {

      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      font-family: 'Baloo Paaji 2', cursive;
    }
  </style>
  {% block cs %}

  {% endblock cs%}
</head>

<body>
  <div class="container">
    <nav class=" nv navbar navbar-expand-lg ">
      <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="navbarTogglerDemo02">
          <a href="{%url 'home'%}"
            style=" text-transform: uppercase; color: aqua; margin: 5px; margin-right: 30px; text-decoration: none; font-size: larger;"><b>Project</b>
            <sup> one</sup></a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'create'%}">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'inactive_profile'%}">Inactive Profiles</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="get">
            <input class="form-control me-2" name="src" type="search" placeholder="Search" aria-label="Search">
            <button class="btn text-white btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  {% block body %} {% endblock body%}
  <br>

  <script src="{%static 'bootstrap.min.js' %}"></script>
</body>

</html>